* {
	padding: 0;
	margin: 0;
	font-family: arial;
	color: #303030;
}

select, option, input, textarea {
	outline: none;
	background-color: #ffffff;
}

textarea:disabled, input:not([type]):disabled, input[type="color" i]:disabled, input[type="date"
	i]:disabled, input[type="datetime" i]:disabled, input[type="datetime-local"
	i]:disabled, input[type="email" i]:disabled, input[type="month" i]:disabled,
	input[type="password" i]:disabled, input[type="number" i]:disabled,
	input[type="search" i]:disabled, input[type="tel" i]:disabled, input[type="text"
	i]:disabled, input[type="time" i]:disabled, input[type="url" i]:disabled,
	input[type="week" i]:disabled {
	background-color: #f4f4f4;
}

/* INICIO CLASSES UTEIS */
.fl {
	float: left;
}

.fr {
	float: right;
}

.dn {
	display: none;
}

.clr {
	clear: both;
}

.clr-r {
	clear: right;
}

.clr-l {
	clear: left;
}

.center {
	text-align: center;
}

/* INICIO MARGENS UTEIS */
.mg-zero {
	margin: 0 !important;
}

.mg-left-10 {
	margin-left: 10px !important;
}

.mg-left-30 {
	margin-left: 30px !important;
}

.mg-top-5 {
	margin-top: 5px !important;
}

.mg-top-14 {
	margin-top: 14px !important;
}

.mg-top-15 {
	margin-top: 15px !important;
}

.mg-top-18 {
	margin-top: 18px !important;
}

.mg-top-19 {
	margin-top: 19px !important;
}

.mg-top-20 {
	margin-top: 20px !important;
}

.mg-top-25 {
	margin-top: 25px !important;
}

.mg-right-10 {
	margin-right: 10px !important;
}

.mg-right-15 {
	margin-right: 15px !important;
}

.mg-bottom-10 {
	margin-bottom: 10px !important;
}

.mg-bottom-15 {
	margin-bottom: 15px !important;
}

.mg-bottom-20 {
	margin-bottom: 20px !important;
}
/* FIM MARGENS UTEIS */

/* FIM CLASSES UTEIS */
html {
	background: #195298;
	height: 100%;
}

body {
	min-height: 100%;
	min-width: 940px;
}

.geral {
	min-height: 1100px;
	min-width: 1080px;
	overflow: auto;
	position: relative;
	padding: 0 10px;
}

.conteiner-geral {
	max-width: 1205px;
	min-width: 768px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	padding: 10px 0 10px 0;
	/*overflow: auto;*/
}

/* INICIO RODAPE */
.rodape {
	width: 100%;
	height: 37px;
	overflow: hidden;
}

.rodape-box {
	max-width: 1205px;
	min-width: 768px;
	background-color: #fff;
	border-radius: 8px;
	height: 15px;
	margin: 0 auto;
	padding: 10px 0px;
}

.rodape p {
	color: #1C5BA7;
	display: block;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
}

/* FIM RODAPE */

/* INICIO LOGIN BOX */
.login-conteiner {
	width: 100%;
	padding-top: 70px;
}

.login-topo {
	width: 595px;
	margin: 0 auto;
}

.login-corpo {
	border-radius: 10px;
	background-color: #fff;
	width: 581px;
	margin: 0 auto;
	padding: 15px;
	min-height: 100px;
}

.login-corpo form {
	border: 1px solid #b5b5b5;
	border-radius: 10px;
	padding: 20px;
	overflow: auto;
}

.login-corpo label {
	font-size: 12px;
	color: #505050;
	margin-bottom: 3px;
	display: block;
	font-weight: bold;
}

.login-corpo .input-text {
	border: 1px solid #c5c5c5;
	font-size: 12px;
	color: #343434;
	width: 200px;
	padding: 8px 6px;
	width: 150px;
	margin: 0 10px 0 0;
	border-radius: 4px;
}

.login-corpo .box-inputs {
	width: 338px;
	/*overflow: auto;*/
	min-height: 10px;
	margin: 0 auto;
}

/* FIM LOGIN BOX */

/* INICIO TOPO */
.topo, .login-topo {
	margin-bottom: 3px;
	border-radius: 10px;
	padding: 8px;
	height: 117px;
	position: relative;
	overflow: hidden;
	background: #fff url(../img/bg-topo-2.png) left 0 no-repeat;
	background-size: cover;
}

.topo h1, .login-topo h1 {
	width: 368px;
	height: 121px;
	overflow: hidden;
}

.topo h1 a, .login-topo h1 a {
	width: 368px;
	height: 121px;
	display: block;
	background: url(../img/logo-srh.svg) 0 0 no-repeat;
	text-indent: -9000px;
}

.topo .logo-tce {
	width: 153px;
	height: 32px;
	overflow: hidden;
	background: url(../img/logo-tce.png) 0 0 no-repeat;
	background-size: contain;
	text-indent: -9000px;
	position: absolute;
	right: 29px;
	top: 20px;
}

.login-topo .logo-tce {
	width: 153px;
	height: 31px;
	overflow: hidden;
	background: url(../img/logo-tce.png) 0 0 no-repeat;
	background-size: contain;
	text-indent: -9000px;
	position: absolute;
	right: 10px;
	top: 10px;
}

img.ambiente {
	position: absolute;
    right: 195px;
    top: 24px;
    width: 160px;
}

.login-topo img.ambiente {
	position: absolute;
    right: 6px;
    top: 55px;
    width: 160px;
} 

.topo .login-box {
	position: absolute;
	border: 1px solid #dadada;
	background-color: #fff;
	right: 14px;
	bottom: 33px;
	padding: 10px;
	border-radius: 8px;
	overflow: auto;
}

.topo .login-box #login-form {
	display: flex;
	align-items: center;
}

.topo .login-box p {
	float: left;
}

.topo .login-box p, .topo .login-box span {
	font-size: 12px;
	color: #505050;
}

.topo .login-box a span {
	color: #1c5ba7;
	text-transform: uppercase;
	font-weight: bold;
}

.topo .login-box a {
	float: right;
	color: #505050;
	margin-left: 10px;
	display: block;
	text-decoration: none;
}

/* FIM TOPO */

/* INICIO MENU PRINCIPAL */
.menu-principal {
	width: 100%;
	height: 50px;
	position: absolute;
	top: 125px;
	z-index: 100;
}

.menu-principal ul {
	list-style: none;
	float: right;
	margin-right: 10px;
}

.menu-principal ul li {
	float: left;
	margin-right: 5px;
	background: #fff;
	border-radius: 10px;
	width: 170px;
	height: 42px;
	overflow: hidden;
}

#form-menu-template > ul >li {
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

.menu-principal ul li a {
	font-weight: bold;
	color: #505050;
	font-size: 14px;
	padding: 13px 55px 13px 18px;
	display: block;
	text-decoration: none;	
	outline: none;
	position: relative;
}

.menu-principal > form > ul > li > a:before {
	content: url(../img/ico-menu-dropdown.svg);
	position: absolute;
	width: 30px;
    right: 0;
    top: 14px;
}

.menu-principal ul li a:hover {
	color: #1c5ba7;
}

.menu-principal ul li ul {
	margin: 0;
	float: none;
	padding: 0 10px 18px 10px;
	display: none;
}

.menu-principal ul li ul li {
	float: none;
	border: none;
	margin: 0;
	background: none;
	border-radius: 0;
	width: auto;
	height: auto;
}

.menu-principal ul li ul li a {
	font-weight: normal;
	font-size: 13px;
    padding: 6px 14px 6px 4px;
	background: none;
}

.menu-principal ul li ul li.third-menu a {
	background: url(../img/ico-plus.svg) right center no-repeat;
	background-size: 10px;
}

.menu-principal ul li ul li.third-menu a.sub-menu-aberto {
	background: url(../img/ico-minus.svg) right center no-repeat;
	background-size: 10px;
}

.menu-principal ul li ul li a:hover {
	color: #1c5ba7;
}

.menu-principal ul ul ul {
	padding: 0 5px 0 10px;
	display: none;
}

.menu-principal ul ul ul li a {
	color: #888;
	background: none !important;
}

.menu-principal ul ul ul li:last-child {
	border: none;
}

/* FIM MENU PRINCIPAL */

/* INICIO TELA INICIAL */
.welcome-col {
	margin-top: 10px;
	padding: 10px 15px;
	background-color: #e4f1ff;
	border: 1px solid #b8daff;
	border-radius: .25rem;
	color: #004085;
}

.welcome-col * {
	font-size: 13px;
}

.welcome-col p {
	line-height: 20px;
	color: #004085;
}

.welcome-col h2 {
	font-size: 18px;
}

/* FIM TELA INICIAL */

/* INICIO CORPO */

.corpo {
	padding: 30px 10px 10px 10px;
	background-color: #fff;
	border-radius: 8px;
	position: relative;
	z-index: 80;
	min-height: 100%;
	margin-bottom: 3px;
}

.corpo-conteiner {
	padding: 10px;
	padding-bottom: 0;
	border-radius: 10px;
	overflow: auto;
}

.bem-vindo {
	text-align: center;
    padding: 60px;
}

.bem-vindo img {
	width: 250px;
}

.bem-vindo h2 {
	color: #505050;
	padding: 20px;
    font-size: 28px;
}

.bem-vindo p {
	color: #505050;
}

.titulo-pagina {
	color: #1c5ba7;
	background-color: #f6f6f6;
	margin-bottom: 20px;
	border-radius: 4px;
}

.titulo-pagina h2 {
	color: #1c5ba7;
	font-size: 14px;
	padding: 10px;
}

.label-campos-obrigarotios {
	color: #555;
	float: right;
	font-size: 12px;
}

.mensagem-alerta {
	clear: both;
	color: #856404;
	background-color: #fff3cd;
	position: relative;
	padding: 0.5em 1em;
	margin-bottom: 1em;
	margin-top: 1em;
	border: 1px solid #ffeeba;
	border-radius: .25em;
}

.mensagem-alerta * {
	font-size: 13px;
}

.infoMessage {
	color: #0768f9;
	font-weight: bold;
	margin-left: 12px;
	margin-bottom: 20px;
	font-size: 14px;
}

.errorMessage {
	color: #F55047;
	font-weight: bold;
	margin-left: 12px;
	margin-bottom: 20px;
	font-size: 14px;
}

.col-50 {
	width: 50%;
	float: left;
}

.col-70 {
	width: 70%;
	float: left;
}

.col-30 {
	width: 30%;
	float: left;
}

.box-border {
	border: 1px solid #d5d5d5;
	padding: 15px;
	overflow: auto;
	margin-bottom: 20px;
	min-height: auto;
	box-sizing: border-box;
}

.corpo-formulario {
	padding: 5px 0 0 15px;
	overflow: auto;
	min-height: auto;
	box-sizing: border-box;
}

.formularios fieldset {
	border: 1px solid #d5d5d5;
	padding: 15px;
	padding-bottom: 5px;
	overflow: auto;
	margin-bottom: 10px;
	min-height: auto;
	box-sizing: border-box;
}

.formularios legend {
	font-size: 12px;
	font-weight: bold;
	color: #505050;
	padding: 0 5px;
}

.formularios .radio-group-comprovante-vinculo {
	float: none;
}

.formularios .input-box, .formularios .textarea-box, .formularios .radios-group,
	.formularios .checkbox-group, .formularios .select-box {
	float: left;
	min-height: 35px;
	width: 100%;
	position: relative;
	margin-bottom: 20px;
}

.formularios .input-box label, .formularios .textarea-box label,
	.formularios .radios-group h3, .formularios .radios-group label,
	.formularios .select-box label, .formularios .data-box label,
	.formularios .checkbox-box h3, .foto-pessoal label {
	font-size: 12px;
	color: #505050;
	margin-bottom: 5px;
	display: block;
	font-weight: bold;
}

.formularios .input-box .conteiner {
	border: 1px solid #c5c5c5;
	margin-right: 15px;
	margin-bottom: 5px;
	border-radius: 4px;
}

.formularios .input-box input {
	font-size: 12px;
	color: #343434;
	border: 0;
	width: 100%;
	padding: 8px 6px;
	box-sizing: border-box;
	border-radius: 4px;
}

.formularios .textarea-box .conteiner {
	margin-right: 15px;
	border: 1px solid #c5c5c5;
	padding: 8px 6px;
	border-radius: 4px;
}

.formularios .textarea-box textarea {
	font-size: 12px;
	color: #343434;
	width: 100%;
	border: 0;
	overflow: auto;
	height: 80px;
	background: none;
	border-radius: 4px;
}

.formularios .radios-group .conteiner, .formularios .checkbox-group .conteiner
	{
	border: 1px solid #c5c5c5;
	padding: 8px 6px;
	margin-right: 15px;
	overflow: auto;
	background: white;
	border-radius: 4px;
}


.formularios .radios-group .radio-box, .formularios .checkbox-group .checkbox-box
	{
	overflow: auto;
	float: left;
	margin-right: 15px;
}

.formularios .radio-box label, .formularios .-box label {
	font-size: 12px;
	float: left;
	cursor: pointer;
	margin-right: 16px;
	margin-bottom: 0px;
	font-weight: normal;
}

.formularios .radio-box input, .formularios .checkbox-box input {
	float: left;
	margin-top: 1px;
	margin-right: 5px;
}

.formularios .radio-box table {
	border-spacing: 0;
}

.formularios .radio-box {
	font-size: 12px;
}

.formularios .select-box .conteiner {
	margin-right: 15px;
	margin-bottom: 5px;
	overflow: auto;
	border-radius: 4px;
}

.formularios .select-box select {
	width: 100%;
	padding: 8px 6px 6px 6px;
	font-size: 12px;
	color: #343434;
	border: 1px solid #c5c5c5;
	border-radius: 4px;
}

.formularios .select-box select:disabled, .formularios .input-box input:disabled
	{
	background-color: #efefef;
	opacity: 0.9;
}

.formularios .select-box option {
	font-size: 1.2em;
}

.formularios .data-box {
	float: left;
	min-height: 35px;
	width: 100%;
	position: relative;
	margin-bottom: 15px;
}

.formularios .data-box .conteiner-data {
	border: 1px solid #c5c5c5;
	padding: 0 6px;
	margin-right: 10px;
	float: left;
}

.formularios .data-box input {
	font-size: 12px;
	color: #343434;
	border: 0;
	width: 100%;
	padding: 8px 0;
	background: none;
}

.formularios .data-box .ico-calendar {
	width: 22px;
	height: 23px;
	display: block;
	float: left;
	background: url(../img/ico-calendar.png) 0 0 no-repeat;
	text-indent: -9000px;
	margin-top: 5px;
}

.tabela-dados {
	clear: both;
	margin-bottom: 15px;
}

.tabela-dados table {
	border-collapse: collapse;
	border: 1px solid #c5c5c5;
	width: 100%;
	font-size: 12px;
}

.tabela-dados th {
	background: #195297;
	color: #fff;
	font-size: 11px;
	text-transform: uppercase;
	padding: 11px 15px;
	border: 1px solid #c5c5c5;
	border-bottom: 0;
}

.tabela-dados td {
	border: 1px solid #c5c5c5;
	padding: 7px 9px;
}

.tabela-dados tbody tr.even td {
	background-color: #F0F0F6;
}

.tabela-dados .rich-table tr:hover {
	background-color: #edf4fd;
}

.tabela-dados .rich-table-footer {
	background-color: #ccc !important;
}

.tabela-dados th.cel-75, .tabela-dados td.cel-75 {
	width: 75%;
}

.tabela-dados th.cel-50, .tabela-dados td.cel-50 {
	width: 50%;
}

.tabela-dados th.cel-30, .tabela-dados td.cel-30 {
	width: 30%;
}

.tabela-dados th.cel-15, .tabela-dados td.cel-15 {
	width: 15%;
}

.tabela-dados th.cel-10, .tabela-dados td.cel-10 {
	width: 10%;
}

.tabela-dados th.cel-5, .tabela-dados td.cel-5 {
	width: 5%;
}

.tabela-dados td.ico-cell, .tabela-dados th.ico-cell {
	width: 50px;
	padding: 11px 10px;
}

.tabela-dados .ico-detail {
	display: block;
	text-indent: -9000px;
	overflow: hidden;
	width: 15px;
	height: 16px;
	background: url(../img/ico-detail.png) 0 0 no-repeat;
	margin: 0 auto;
}

.tabela-dados .ico-editar {
	display: block;
	text-indent: -9000px;
	overflow: hidden;
	width: 15px;
	height: 16px;
	background: url(../img/ico-editar.png) 0 0 no-repeat;
	margin: 0 auto;
}

.tabela-dados .ico-delete {
	display: block;
	text-indent: -9000px;
	overflow: hidden;
	width: 16px;
	height: 16px;
	background: url(../img/ico-delete.png) 0 0 no-repeat;
	margin: 0 auto;
}

.tabela-dados .pager {
	margin-top: 15px;
	border: 1px solid #c5c5c5;
	width: 300px;
	min-height: 10px;
	padding: 5px;
	overflow: auto;
}

.tabela-dados .pager input {
	cursor: default;
	border: 0;
	text-align: center;
	font-size: 12px;
}

.tabela-dados .pager select {
	font-size: 12px;
	padding: 3px;
	border: 1px solid #c5c5c5;
}

.tabela-dados .pager option {
	padding-right: 10px;
}

/* FIM CORPO */

/* INICIO TAMANHOS INPUTS  */
.formularios .box-100 {
	width: 100%;
}

.formularios .box-98 {
	width: 98%;
}

.formularios .box-96 {
	width: 96%;
}

.formularios .box-95 {
	width: 95%;
}

.formularios .box-94 {
	width: 94%;
}

.formularios .box-92 {
	width: 92%;
}

.formularios .box-90 {
	width: 90%;
}

.formularios .box-88 {
	width: 88%;
}

.formularios .box-86 {
	width: 86%;
}

.formularios .box-85 {
	width: 85%;
}

.formularios .box-84 {
	width: 84%;
}

.formularios .box-82 {
	width: 82%;
}

.formularios .box-80 {
	width: 80%;
}

.formularios .box-78 {
	width: 78%;
}

.formularios .box-76 {
	width: 76%;
}

.formularios .box-75 {
	width: 75%;
}

.formularios .box-74 {
	width: 74%;
}

.formularios .box-72 {
	width: 72%;
}

.formularios .box-70 {
	width: 70%;
}

.formularios .box-68 {
	width: 68%;
}

.formularios .box-66 {
	width: 66%;
}

.formularios .box-65 {
	width: 65%;
}

.formularios .box-64 {
	width: 64%;
}

.formularios .box-62 {
	width: 62%;
}

.formularios .box-60 {
	width: 60%;
}

.formularios .box-58 {
	width: 58%;
}

.formularios .box-56 {
	width: 56%;
}

.formularios .box-55 {
	width: 55%;
}

.formularios .box-54 {
	width: 54%;
}

.formularios .box-52 {
	width: 52%;
}

.formularios .box-50 {
	width: 50%;
}

.formularios .box-48 {
	width: 48%;
}

.formularios .box-46 {
	width: 46%;
}

.formularios .box-45 {
	width: 45%;
}

.formularios .box-44 {
	width: 44%;
}

.formularios .box-42 {
	width: 42%;
}

.formularios .box-40 {
	width: 40%;
}

.formularios .box-38 {
	width: 38%;
}

.formularios .box-37 {
	width: 37%;
}

.formularios .box-36 {
	width: 36%;
}

.formularios .box-35 {
	width: 35%;
}

.formularios .box-34 {
	width: 34%;
}

.formularios .box-32 {
	width: 32%;
}

.formularios .box-30 {
	width: 30%;
}

.formularios .box-28 {
	width: 28%;
}

.formularios .box-26 {
	width: 26%;
}

.formularios .box-25 {
	width: 25%;
}

.formularios .box-24 {
	width: 24%;
}

.formularios .box-22 {
	width: 22%;
}

.formularios .box-20 {
	width: 20%;
}

.formularios .box-18 {
	width: 18%;
}

.formularios .box-16 {
	width: 16%;
}

.formularios .box-15 {
	width: 15%;
}

.formularios .box-14 {
	width: 14%;
}

.formularios .box-12 {
	width: 12%;
}

.formularios .box-11 {
	width: 11%;
}

.formularios .box-10 {
	width: 10%;
}

.formularios .box-8 {
	width: 8%;
}

.formularios .box-6 {
	width: 6%;
}

.formularios .box-5 {
	width: 5%;
}

/* FIM TAMANHOS INPUTS  */

/* INICIO BOTOES */
.bt-padrao, .bt-voltar {
	border: 1px solid #195297;
	font-size: 12px;
	color: #fff;
	padding: 8px 12px;
	background: #195297;
	border-radius: 4px;
	cursor: pointer;
	display: block;
	margin-bottom: 15px;
	text-decoration: none;
	text-transform: uppercase;
	transition: background 0.2s ease;
}

.bt-padrao:hover, .bt-voltar:hover {
	background: #10396c;
}

.bt-upload {
	font-size: 13px;
    font-weight: bold;
    color: #195297;
    cursor: pointer;
    display: block;
    text-decoration: none;
    text-transform: lowercase;
    transition: all 0.2s ease;
    padding: 10px;
    padding-left: 40px;
    border: 1px solid;
    border-radius: 4px;
    position: relative;
}

.bt-upload:before {
	background: url(../img/ic_cloud_upload_24px.svg) no-repeat;
    background-size: 24px auto;
    display: block;
    width: 25px;
    height: 20px;
    content: '';
    position: absolute;
    left: 10px;
    top: 9px;
}

.bt-upload:hover {
	background: #f5f7fb;
}


.link-arquivo{
   	font-size: 12px;
    font-weight: bold;
    color: #08309c;
   	margin-left: 10px;
    text-decoration: none;
    position: relative;
    padding-left: 30px;
}

.link-arquivo:before {
	background: url(../img/ic_file_upload_48px.svg) no-repeat;
    background-size: 15px auto;
    display: block;
    width: 20px;
    height: 20px;
    content: '';
    position: absolute;
    left: 10px;
    top: 1px;
}

.bt-conteiner {
	margin-top: 15px;
}

.link-padrao {
	text-decoration: none;
    color: #1c5ba7;
    font-weight: bold;
    text-transform: lowercase;
    font-size: 14px;
}

.link-padrao:hover {
    color: inherit;
}
/* FIM BOTOES */

#login-form #relogio {
	display: inline-block;
	margin-left: 30px;
	border-right: 1px solid #505050;
	padding-right: 10px;
	vertical-align: middle;
}

#login-form #relogio>img {
	width: 13px;
	vertical-align: text-top;
	margin-right: 2px;
}

#countdown {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

#countdown>span {
	color: #79828A;
	font-size: 50px;
}

.bt-dialog-sessao {
	text-decoration: none;
	text-align: center;
	padding: 10px;
	display: inline-block;
	float: right;
	margin: 0px 0px 0px 15px;
}

.sessao-expirada-msg {
	color: #246788;
	padding: 15px;
}

.sessao-expirada-text, .sessao-expirada-text b {
	font-size: 16px;
	line-height: 1.5em;
}

/* Modal/Popup */
#modalRenovaSessao, #modalRedirecionaLogin {
	float: left;
}

.rf-pp-shade {
	background-color: rgba(0, 0, 0, 0.5) !important;
}

.rf-pp-shdw {
	display: none !important;
}

.modal-actions {
	display: inline-block;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	box-sizing: border-box;
	padding: 15px;
	border-top: 1px solid #e4e4e4;
}

.rf-pp-cntr {
	border: none !important;
}

.rf-pp-hdr {
	padding: 8px !important;
	font-size: 16px !important;
	font-weight: normal !important;
	background: #195297 !important;
	border: 1px solid #113664 !important;
}

.rf-pp-hdr span {
	font-size: 14px;
}

.rf-pp-cnt-scrlr {
	background: #fff !important;
}

/* Tabs */
.rf-tbp {
	display: table !important;
	width: 100% !important;
}

.rf-tab-cnt {
	display: inline-block;
	position: relative;
	background: #fff !important;
	padding: 20px !important;
	border: 1px solid #C0C0C0 !important;
	width: 100% !important;
	box-sizing: border-box !important;
}

.rf-tab-hdr {
	padding: 8px 10px !important;
	border-radius: 4px 4px 0 0;
}

.rf-tab-lbl {
	font-size: 14px !important;
	font-weight: normal !important;
	border-spacing: none;
}

.rf-tab-hdr-act {
	background: #fdfdfd !important;
	color: #195297 !important;
	border-bottom: 0 !important;
}

.rf-tab-hdr-inact {
	background: #f0f0f0 !important;
	color: #000 !important;
	cursor: pointer !important;
}

.rf-tab-hdr-inact:hover {
	color: #195297 !important;
}

.rf-tab-hdr-tabline-vis.rf-tab-hdr-tabline-top {
	background: none !important;
	border: none !important;
	display: inline;
}

.rf-tab-hdr-brd {
	display: none !important;
}

.rf-tab-hdr-tabs {
	position: relative;
	bottom: -1px;
	z-index: 1;
}

/* Panel e tooltip */
.tooltip {
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.51);
}

.rf-p, .rf-p-b {
	border: none !important;
	padding: 0px !important;
	background: none !important;
}

.rf-tt-cntr {
	border-color: #C0C0C0 !important;
}

/* Paginação/Scrooler */
.rf-ds {
	display: flex !important;
	width: 100% !important;
	justify-content: center !important;
	position: relative;
	left: -1px;
	margin-top: 1px;
}

.rf-ds>* {
	flex: 1 1 0;
	padding: 7px 0px !important;
	margin: 0 !important;
	background: none !important;
	border: .1px solid #ddd !important;
	font-size: 13px !important;
	text-align: center !important;
	vertical-align: middle;
}

.rf-ds-btn {
	background: none !important;
	color: #195297 !important;
	transition: all .2s;
	font-weight: bold !important;
}

.rf-ds-btn:hover {
	background-color: #19529724 !important;
	color: #777 !important;
}

.rf-ds-dis {
	color: #bbb !important;
	background: #a6b0bd1c !important;
	border: .1px solid #eee !important;
}

.rf-ds-dis:hover {
	color: #bbb !important;
	background: #a6b0bd1c !important;
}

.rf-ds-nmb-btn {
	color: #333 !important;
	transition: all .2s;
}

.rf-ds-nmb-btn:hover {
	background-color: #19529724 !important;
}

.rf-ds-nmb-btn.rf-ds-act {
	border-color: #19529757 !important;
	color: #222 !important;
	background-color: #1952970d !important;
}

.rf-plhdr {
	color: #afafaf !important;
}

/* Select */
.rf-sel {
	width: 100%;
}

.rf-sel-cntr {
	box-sizing: border-box;
	display: flex !important;
	align-items: center;
	border-radius: 4px;
}

.rf-sel-inp {
	background: none !important;
	padding: 8px 0px 6px 6px !important;
	font-size: 12px !important;
	color: #343434 !important;
}

.rf-sel-btn {
	background: none !important;
	border: none !important;
	margin: 0 !important;
	padding: 5px;
}

.rf-sel-lst-cord {
	max-width: 100%;
}

.rf-sel-lst-dcrtn {
	border: none !important;
}

.rf-sel-lst-scrl {		
	min-height: auto !important;
	max-height: 250px !important;
	
}

.rf-sel-opt, .rf-sel-opt-dis {
	padding: 10px !important;
	font-size: 14px !important;
	border: none !important;
	white-space: normal !important;
	line-height: 20px;
	box-sizing: border-box;
}

.rf-sel-shdw {
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	padding: 0px !important;
}

.rf-sel-shdw-l, .rf-sel-shdw-r, .rf-sel-shdw-b {
	display: none !important;
}

/* eSocial */
@font-face {
  font-family: 'eSocialFont';
  src: url('../font/BreeSerif-Regular.ttf')  format('truetype');
}

.vigencia-msg-alerta {
	position: relative;
	bottom: 16px;
	font-weight: bold;
	color: #505050;
	clear: both;
}

.vigencia-width-data {
	width: 120px !important;
}

.identificador-esocial {
	font-family: eSocialFont;	
	color: #4BD07B;
	font-size: 17px;
	line-height: 0px;
	font-weight: normal;
}

.identificador-esocial-legenda {
	position: absolute;
	right: 35px;
	top: 100px;
	font-size: 12px;
}

.pagina-eventos-esocial p {
	font-size: 14px;
 	margin-bottom: 18px;
}

.pagina-eventos-esocial p.subtitulo {
	font-size: 15px;
	margin-top: 5px;
 	margin-bottom: 30px;
}

.pagina-eventos-esocial p > span {
	font-weight: bold;
    font-size: 14px;
    color: #404040;
}

.pagina-eventos-esocial ul {
	margin-left: 30px;
	margin-bottom: 20px;
 	list-style-type: none;
}

.pagina-eventos-esocial li, .pagina-eventos-esocial a{
	font-size: 14px;
	padding-bottom: 10px;
}

.pagina-eventos-esocial a {
	text-decoration: none;
	font-weight: bold;
	color: #1c5ba7;
}

/* telas de consulta */
.rf-dt-c {
	position: relative;
	font-size: 12px !important;
}

.rf-dt-c label {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: block;
}

.rf-dt-c label:hover {
	cursor: pointer;
}

.modalInstrucoesVigencia p{
	padding: 10px 5px;
	text-align: left;
	font-size: 14px;
}

.modalInstrucoesVigencia p > a{
	text-decoration: none;
	font-weight: bold;
	color: #1c5ba7;
}

.swal2-icon .swal2-icon-content {
	color: inherit;
}

.swal2-icon {
	width: 88px;
    height: 88px;
}
input.rf-insp-inp[type="text"] {
    background: none !important;
    font-size: 12px !important;
	color: #343434 !important;
	height: 30px !important;  
	padding-left: 6px !important;
}   

.rf-insp {
	border: 1px solid #c5c5c5;
    border-radius: 4px;
	vertical-align: top;
	height: 30px;
} 

.rf-insp-dec, .rf-insp-inc, .rf-insp-dec-dis, .rf-insp-inc-dis {
	height: 15px !important;
}

.rf-insp-btns {
	background: #ccc !important;
}

.rf-dt-ftr-c {
	color: inherit !important;
    background-color: #eee !important;
    font-size: 12px !important;
}

.houtput-disabled {
	font-size: 12px;
    color: #343434;
    padding: 8px 6px;
    display: block;
    background: #f1f1f1;
    border-radius: 4px;
    opacity: 0.9;
}

.textSmall{
	font-size:small;	
}
