<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx.xsd 
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context-3.0.xsd 
						http://www.springframework.org/schema/task 
  						http://www.springframework.org/schema/task/spring-task-3.0.xsd">

	<!--  Arquivo de parametros -->
	<context:property-placeholder location="classpath:application.properties"/>

	<!-- Habilitando annotations -->
	<context:annotation-config />
	<context:component-scan base-package="br.gov.ce.tce.srh" />
	
	<bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />
	<bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

	<bean id="emf"  
	      class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">  
         <property name="persistenceUnitName" value="maindatabase"/>  
         <property name="dataSource" ref="dataSource" />  
         <property name="jpaVendorAdapter">  
             <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">  
                 <property name="databasePlatform" value="${database.target}"/>  
                 <property name="showSql" value="${database.showSql}" />  
                 <property name="generateDdl" value="${database.generateDdl}" />  
             </bean>  
         </property>  
    </bean>

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="${database.driver}" />
		<property name="jdbcUrl" value="${database.url}" />
		<property name="user" value="${database.username}" />
		<property name="password" value="${database.password}" />		
        <property name="acquireIncrement" value="${database.acquireIncrement}" />
		<property name="initialPoolSize" value="${database.initialPoolSize}" />
		<property name="minPoolSize" value="${database.minPoolSize}" />
		<property name="maxPoolSize" value="${database.maxPoolSize}" />
		<property name="maxConnectionAge" value="${database.maxConnectionAge}" />
		<property name="maxIdleTime" value="${database.maxIdleTime}" />
		<property name="maxIdleTimeExcessConnections" value="${database.maxIdleTimeExcessConnections}" />
		<property name="testConnectionOnCheckout" value="${database.testConnectionOnCheckout}" />
	</bean>

	<tx:annotation-driven transaction-manager="txManager" proxy-target-class="true" />

	<bean id="txManager" class="org.springframework.orm.jpa.JpaTransactionManager" >
		<property name="entityManagerFactory" ref="emf" />
	</bean>

	<bean id="facesUtil" class="br.gov.ce.tce.srh.util.FacesUtil" />
	<bean id="relatorioUtil" class="br.gov.ce.tce.srh.util.RelatorioUtil" /> 
		
	
	<bean id="alertarFeriasJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="emissorDeAlerta"/>
        <property name="targetMethod" value="alertarFerias"/>
	</bean>
	
	<bean id="alertarFeriasTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="alertarFeriasJob" />         
        <property name="cronExpression" value="0 0 7 * * ?" />
	</bean>
	
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">       
		<property name="triggers">
		    <list>
		        <ref bean="alertarFeriasTrigger"/>
		    </list>
		</property>
    </bean>
		
		
	<!-- Agendamento de tarefas -->
	<task:annotation-driven />	
	
</beans>